<table class="table">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Avatar</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let field of teachers">
            <td class="color">{{field.id}}</td>
            <td class="color">
                <app-name [name]="field.name"></app-name>
            </td>
            <td class="color">
                <app-age [age]="field.age"></app-age>
            </td>
            <td>
                <app-gender [gender]="field.gender"></app-gender>
            </td>
            <td class="color">
                <app-avatar [avatar]="field.avatar"> </app-avatar>
            </td>
            <td>
                <app-status [status]="field.status"></app-status>
            </td>
        </tr>
    </tbody>
</table>