<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
</head>

<body>

    <p>product-page works!</p>
    <div class="container">
        <aside>
            <p> Menu </p>
            <a href="javascript:void(0)">
                <i class="fa fa-user-o" aria-hidden="true"></i> My drive
            </a>
            <a href="javascript:void(0)">
                <i class="fa fa-laptop" aria-hidden="true"></i> Computers
            </a>
            <a href="javascript:void(0)">
                <i class="fa fa-clone" aria-hidden="true"></i> Shared with me
            </a>
            <a href="javascript:void(0)">
                <i class="fa fa-star-o" aria-hidden="true"></i> Starred
            </a>
            <a href="javascript:void(0)">
                <i class="fa fa-trash-o" aria-hidden="true"></i> Trash
            </a>
        </aside>
        <main>
            <div class="titlePr">
                <h1>All Product</h1>
            </div>
            <div class="list-product-new">
                <div class="box-product-new">
                    <div class="action-box">
                        <div id="eye" class="action-product">
                            <a href="">
                                <i class="fi fi-rr-eye"></i>
                            </a>
                        </div>
                        <div id="cart" class="action-product">
                            <a href="">
                                <i class="fi fi-rr-shopping-cart"></i>
                            </a>
                        </div>
                        <div id="like" class="action-product">
                            <a href="">
                                <i class="fi fi-rr-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="img-box-product">
                        <img src="https://cdn0.fahasa.com/media/catalog/product/i/m/image_195509_1_36793.jpg" width="300px" alt="">
                    </div>
                    <div class="text-box-product">
                        <div class="name-product">
                            <p>Nhà giả kim</p>
                        </div>
                        <div class="price-product">
                            <p>120 000 VNĐ</p>
                        </div>
                    </div>
                </div>
                <div class="box-product-new">
                    <div class="action-box">
                        <div id="eye" class="action-product">
                            <a href="">
                                <i class="fi fi-rr-eye"></i>
                            </a>
                        </div>
                        <div id="cart" class="action-product">
                            <a href="">
                                <i class="fi fi-rr-shopping-cart"></i>
                            </a>
                        </div>
                        <div id="like" class="action-product">
                            <a href="">
                                <i class="fi fi-rr-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="img-box-product">
                        <img src="https://cdn0.fahasa.com/media/catalog/product/i/m/image_195509_1_36793.jpg" width="300px" alt="">
                    </div>
                    <div class="text-box-product">
                        <div class="name-product">
                            <p>Nhà giả kim</p>
                        </div>
                        <div class="price-product">
                            <p>120 000 VNĐ</p>
                        </div>
                    </div>
                </div>
                <div class="box-product-new">
                    <div class="action-box">
                        <div id="eye" class="action-product">
                            <a href="">
                                <i class="fi fi-rr-eye"></i>
                            </a>
                        </div>
                        <div id="cart" class="action-product">
                            <a href="">
                                <i class="fi fi-rr-shopping-cart"></i>
                            </a>
                        </div>
                        <div id="like" class="action-product">
                            <a href="">
                                <i class="fi fi-rr-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="img-box-product">
                        <img src="https://cdn0.fahasa.com/media/catalog/product/i/m/image_195509_1_36793.jpg" width="300px" alt="">
                    </div>
                    <div class="text-box-product">
                        <div class="name-product">
                            <p>Nhà giả kim</p>
                        </div>
                        <div class="price-product">
                            <p>120 000 VNĐ</p>
                        </div>
                    </div>
                </div>
                <div class="box-product-new">
                    <div class="action-box">
                        <div id="eye" class="action-product">
                            <a href="">
                                <i class="fi fi-rr-eye"></i>
                            </a>
                        </div>
                        <div id="cart" class="action-product">
                            <a href="">
                                <i class="fi fi-rr-shopping-cart"></i>
                            </a>
                        </div>
                        <div id="like" class="action-product">
                            <a href="">
                                <i class="fi fi-rr-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="img-box-product">
                        <img src="https://cdn0.fahasa.com/media/catalog/product/i/m/image_195509_1_36793.jpg" width="300px" alt="">
                    </div>
                    <div class="text-box-product">
                        <div class="name-product">
                            <p>Nhà giả kim</p>
                        </div>
                        <div class="price-product">
                            <p>120 000 VNĐ</p>
                        </div>
                    </div>
                </div>


            </div>
        </main>
    </div>
</body>

</html>