<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
</head>

<body>

    <p>product-page works!</p>
    <div class="container">

        <main>
            <div class="titlePr">
                <h1>All Product</h1>
            </div>
            <div class="list-product-new">
                <div *ngFor="let field of product" class="box-product-new">
                    <div class="action-box">
                        <div id="eye" class="action-product">
                            <a routerLink="product/{{field._id}}">
                                <i class="fi fi-rr-eye"></i>
                            </a>
                        </div>
                        <div id="cart" class="action-product">
                            <a href="">
                                <i class="fi fi-rr-shopping-cart"></i>
                            </a>
                        </div>
                        <div id="like" class="action-product">
                            <a href="">
                                <i class="fi fi-rr-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="img-box-product">
                        <img src="{{field.img}}" width="300px" alt="">
                    </div>
                    <div class="text-box-product">
                        <div class="name-product">
                            <p>{{field.name}}</p>
                        </div>
                        <div class="price-product">
                            <p>{{field.price}} VNĐ</p>
                        </div>
                    </div>
                </div>



            </div>
        </main>
    </div>
</body>

</html>