<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
</head>

<body>

    <main>
        <div class="banner-home">
            <div class="bg-banner">
                <img id="image1" src="https://cdn.shopify.com/s/files/1/1288/2297/files/slider__bg4.jpg?v=1644396699" width="2100px" alt="">
            </div>
            <div class="container-banner">
                <div class="left-content-banner">
                    <div class="info sl1">
                        <h1 id="text1_sl1">Get Your New Book Collection</h1>
                        <p id="text2_sl1">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some formr.</p>
                        <a id="button-banner" href="#">Trải nghiệm ngay</a>
                    </div>
                </div>
                <div class="img-banner">
                    <img id="book-banner" src="https://cdn.shopify.com/s/files/1/1288/2297/files/slider_top_1.png?v=1644397204" width="500px" alt="">
                </div>
            </div>
        </div>
        <!--? end banner -->
        <div class="product-new">
            <div class="title-product-new">
                <h2>Sản phẩm mới nhất</h2>
            </div>
            <div class="list-product-new">
                <div *ngFor="let field of products" class="box-product-new">
                    <div class="action-box">
                        <div id="eye" class="action-product">
                            <a routerLink="product/{{field._id}}">
                                <i class="fi fi-rr-eye"></i>
                            </a>
                        </div>
                        <div id="cart" class="action-product">
                            <a href="">
                                <i class="fi fi-rr-shopping-cart"></i>
                            </a>
                        </div>
                        <div id="like" class="action-product">
                            <a href="">
                                <i class="fi fi-rr-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="img-box-product">
                        <img src="{{field.img}}" width="300px" alt="">
                    </div>
                    <div class="text-box-product">
                        <div class="name-product">
                            <p>{{field.name}}</p>
                        </div>
                        <div class="price-product">
                            <p>120 000 VNĐ</p>
                        </div>
                    </div>
                </div>


            </div>
            <div class="view-more">
                <a href="">View more</a>
            </div>
        </div>
        <!--? end product-new -->
        <hr width="100%" size="3px" />
        <div class="cheap-book">
            <div class="left-cheap">
                <div class="title-cheap">
                    <h3>Welcome to the Bookio World of Books</h3>
                </div>
                <hr width="20%" size="3px" />
                <div class="text-cheap">
                    <p>If you’re looking for great value second hand books, then World of Books is the place for you. As you may already know, we aren’t like other online book stores. For starters, we don’t believe that books should only be read once, or
                        have a single owner. Literature should endure and be continually recycled, which is why we help millions of used books find new homes every year.</p>
                </div>
                <div class="link-cheap">
                    <a href="">Learn more</a>
                </div>
            </div>
            <div class="right-cheap">
                <img src="https://wpbingosite.com/wordpress/bookio/wp-content/uploads/2021/07/img4-7.png" alt="">
            </div>
        </div>
        <!--? end cheap-book -->
        <div class="clientSay">
            <div class="titleSay">
                <h2>Happy Client Say !</h2>
            </div>
            <div class="boxClientSay">
                <div class="boxSay">
                    <div class="iconSay">
                        <div class="startClient">
                            <i class="fi fi-rr-star"></i>
                            <i class="fi fi-rr-star"></i>
                            <i class="fi fi-rr-star"></i>
                            <i class="fi fi-rr-star"></i>
                        </div>
                        <div class="quoteClient">
                            <i class="fi fi-rr-quote-right"></i>
                        </div>
                    </div>
                    <div class="textClient">
                        <p>Vòng tay đã buông rời nhau.. nước mắt em lau bằng tình yêu mới. Thành phố đã quá chật, đừng nên cố níu tay, để rồi một lần nữa lại nhận về mình những đắng cay</p>
                    </div>
                    <div class="userComment">
                        <div class="imgClient">
                            <img src="https://wpbingosite.com/wordpress/bookio/wp-content/webp-express/webp-images/uploads/2019/12/tes-2.jpg.webp" alt="">
                        </div>
                        <div class="nameClient">
                            <p>Abc@gmail.com</p>
                            <p>member</p>
                        </div>
                    </div>
                </div>
                <div class="boxSay">
                    <div class="iconSay">
                        <div class="startClient">
                            <i class="fi fi-rr-star"></i>
                            <i class="fi fi-rr-star"></i>
                            <i class="fi fi-rr-star"></i>
                            <i class="fi fi-rr-star"></i>
                        </div>
                        <div class="quoteClient">
                            <i class="fi fi-rr-quote-right"></i>
                        </div>
                    </div>
                    <div class="textClient">
                        <p>Vòng tay đã buông rời nhau.. nước mắt em lau bằng tình yêu mới. Thành phố đã quá chật, đừng nên cố níu tay, để rồi một lần nữa lại nhận về mình những đắng cay</p>
                    </div>
                    <div class="userComment">
                        <div class="imgClient">
                            <img src="https://wpbingosite.com/wordpress/bookio/wp-content/webp-express/webp-images/uploads/2019/12/tes-2.jpg.webp" alt="">
                        </div>
                        <div class="nameClient">
                            <p>Abc@gmail.com</p>
                            <p>member</p>
                        </div>
                    </div>
                </div>
                <div class="boxSay">
                    <div class="iconSay">
                        <div class="startClient">
                            <i class="fi fi-rr-star"></i>
                            <i class="fi fi-rr-star"></i>
                            <i class="fi fi-rr-star"></i>
                            <i class="fi fi-rr-star"></i>
                        </div>
                        <div class="quoteClient">
                            <i class="fi fi-rr-quote-right"></i>
                        </div>
                    </div>
                    <div class="textClient">
                        <p>Vòng tay đã buông rời nhau.. nước mắt em lau bằng tình yêu mới. Thành phố đã quá chật, đừng nên cố níu tay, để rồi một lần nữa lại nhận về mình những đắng cay</p>
                    </div>
                    <div class="userComment">
                        <div class="imgClient">
                            <img src="https://wpbingosite.com/wordpress/bookio/wp-content/webp-express/webp-images/uploads/2019/12/tes-2.jpg.webp" alt="">
                        </div>
                        <div class="nameClient">
                            <p>Abc@gmail.com</p>
                            <p>member</p>
                        </div>
                    </div>
                </div>
                <div class="boxSay">
                    <div class="iconSay">
                        <div class="startClient">
                            <i class="fi fi-rr-star"></i>
                            <i class="fi fi-rr-star"></i>
                            <i class="fi fi-rr-star"></i>
                            <i class="fi fi-rr-star"></i>
                        </div>
                        <div class="quoteClient">
                            <i class="fi fi-rr-quote-right"></i>
                        </div>
                    </div>
                    <div class="textClient">
                        <p>Vòng tay đã buông rời nhau.. nước mắt em lau bằng tình yêu mới. Thành phố đã quá chật, đừng nên cố níu tay, để rồi một lần nữa lại nhận về mình những đắng cay</p>
                    </div>
                    <div class="userComment">
                        <div class="imgClient">
                            <img src="https://wpbingosite.com/wordpress/bookio/wp-content/webp-express/webp-images/uploads/2019/12/tes-2.jpg.webp" alt="">
                        </div>
                        <div class="nameClient">
                            <p>Abc@gmail.com</p>
                            <p>member</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end clientSay -->
        <hr width="100%" size="3px" />
        <div class="blog">
            <div class="titleBlog">
                <h2>Blog</h2>
            </div>
            <div class="boxBlogFlex">
                <div class="boxBlog">
                    <div class="imgBlog">
                        <img src="https://templatekits.themewarrior.com/bookchimp/wp-content/uploads/sites/22/2021/07/blog8.jpg" width="320px" alt="">
                    </div>
                    <div class="textBlog">
                        <h4>Quá tuyệt vời.. xuất sắc mẹ luôn</h4>
                        <p>July 2,2021</p>
                    </div>
                </div>
                <div class="boxBlog">
                    <div class="imgBlog">
                        <img src="https://templatekits.themewarrior.com/bookchimp/wp-content/uploads/sites/22/2021/07/blog8.jpg" width="320px" alt="">
                    </div>
                    <div class="textBlog">
                        <h4>Quá tuyệt vời.. xuất sắc mẹ luôn</h4>
                        <p>July 2,2021</p>
                    </div>
                </div>
                <div class="boxBlog">
                    <div class="imgBlog">
                        <img src="https://templatekits.themewarrior.com/bookchimp/wp-content/uploads/sites/22/2021/07/blog8.jpg" width="320px" alt="">
                    </div>
                    <div class="textBlog">
                        <h4>Quá tuyệt vời.. xuất sắc mẹ luôn</h4>
                        <p>July 2,2021</p>
                    </div>
                </div>
                <div class="boxBlog">
                    <div class="imgBlog">
                        <img src="https://templatekits.themewarrior.com/bookchimp/wp-content/uploads/sites/22/2021/07/blog8.jpg" width="320px" alt="">
                    </div>
                    <div class="textBlog">
                        <h4>Quá tuyệt vời.. xuất sắc mẹ luôn</h4>
                        <p>July 2,2021</p>
                    </div>
                </div>
            </div>
        </div>
        <p>home works!</p>
    </main>
</body>

</html>