<div class="container">
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <div class="logo-head">
                    <a class="" routerLink="">
                        <img src="https://i.ibb.co/jvj6L31/logo.png" alt="logo" width="80px">
                    </a>
                </div>

                <div class="right-navbar ">
                    <div class="right-menu">
                        <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="hover-underline nav-link active text-black" routerLink="">Home</a>
                            </li>
                            <div class="dropdown nav-item">
                                <button class="nut_dropdown hover-underline nav-link text-black">Product
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <div class="noidung_dropdown">
                                    <div *ngFor="let field of categories">
                                        <a routerLink="category/{{field._id}}">{{field.name}}</a>

                                    </div>
                                </div>
                            </div>
                            <!-- <li class="nav-item">
                                <a class="hover-underline nav-link text-black " routerLink="/product">Product</a>
                            </li> -->
                            <li class="nav-item">
                                <a class="hover-underline nav-link text-black" routerLink="/news">News</a>
                            </li>
                            <li class="nav-item">
                                <a class="hover-underline nav-link text-black " routerLink="/contact">Contact</a>
                            </li>
                        </ul>

                    </div>
                    <div class="search-menu">
                        <form action="" class="search-bar">
                            <input type="search" name="search" pattern=".*\S.*" required>
                            <button class="search-btn" type="submit">
                                <span>Search</span>
                            </button>
                        </form>
                        <div class="user">
                            <a routerLink="">
                                <img src="https://i.ibb.co/kGX03Bv/user.png" width="40px" alt="">
                            </a>
                        </div>
                        <div class="cart">
                            <div class="imgCart">
                                <a routerLink="cart">
                                    <img src="https://i.ibb.co/xXJycqd/shopping-cart.png" width="40px" alt="">
                                </a>
                            </div>
                            <div class="notifyCart">
                                <p>
                                    <app-cart></app-cart>
                                </p>
                            </div>
                        </div>
                        <div class="login">
                            <a routerLink="auth/signin">
                                <img src="https://i.ibb.co/84JsdSD/log-in.png" width="55px" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div>

        <!-- Đây là nơi những phần component thuộc client sẽ được render -->
        <router-outlet></router-outlet>
    </div>

    <footer class="new_footer_area bg_color">
        <div class="new_footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_600 t_color f_size_18">Get in Touch</h3>
                            <p>Don’t miss any updates of our new templates and extensions.!</p>
                            <form action="#" class="f_subscribe_two mailchimp" method="post" novalidate="true" _lpchecked="1">
                                <input type="text" name="EMAIL" class="form-control memail" placeholder="Email">
                                <button class="btn btn_get btn_get_two" type="submit">Subscribe</button>
                                <p class="mchimp-errmessage" style="display: none;"></p>
                                <p class="mchimp-sucmessage" style="display: none;"></p>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_600 t_color f_size_18">Download</h3>
                            <ul class="list-unstyled f_list">
                                <li><a routerLink="#">Company</a></li>
                                <li><a routerLink="#">Android App</a></li>
                                <li><a routerLink="#">ios App</a></li>
                                <li><a routerLink="#">Desktop</a></li>
                                <li><a routerLink="#">Projects</a></li>
                                <li><a routerLink="#">My tasks</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_600 t_color f_size_18">Help</h3>
                            <ul class="list-unstyled f_list">
                                <li><a routerLink="#">FAQ</a></li>
                                <li><a routerLink="#">Term &amp; conditions</a></li>
                                <li><a routerLink="#">Reporting</a></li>
                                <li><a routerLink="#">Documentation</a></li>
                                <li><a routerLink="#">Support Policy</a></li>
                                <li><a routerLink="#">Privacy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_600 t_color f_size_18">Team Solutions</h3>
                            <div class="f_social_icon">
                                <a routerLink="#" class="fab fa-facebook"></a>
                                <a routerLink="#" class="fab fa-twitter"></a>
                                <a routerLink="#" class="fab fa-linkedin"></a>
                                <a routerLink="#" class="fab fa-pinterest"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bg">
                <div class="footer_bg_one"></div>
                <div class="footer_bg_two"></div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-sm-7">
                        <p class="mb-0 f_400">© cakecounter Inc.. 2019 All rights reserved.</p>
                    </div>
                    <div class="col-lg-6 col-sm-5 text-right">
                        <p>Made with <i class="icon_heart"></i> in <a routerLink="http://cakecounter.com" target="_blank">CakeCounter</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>