<div>
    <a routerLink="/admin/products/create">
        <button class="btn btn-primary">Create</button>
    </a>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let field of products">
            <td>{{field.id}}</td>
            <td>{{field.name}}</td>
            <td>
                <a routerLink="/admin/products/{{field.id}}">
                    <!-- <a [routerLink]="['/admin', 'products', field.id]"> -->
                    <button class="btn btn-primary">Detail</button>
                </a>
                <button class="btn btn-danger" (click)="onDelete(field.id)">Delete</button>
            </td>
        </tr>

    </tbody>
</table>