.border-yl {
    border: yellow solid 3px;
    border-radius: 20px
}

.border-yl:hover img {
    object-fit: cover;
    /* transform: scale(110); */
    scale: 1.5;
    transition: all 0.3 ease-in-out;
}

.border-bl {
    border: blue solid 3px;
    border-radius: 20px
}